* {
    font-family: ubuntu;
}

#inicio {
    padding-top: 20px;
    background: url(../img/encontros-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0% 95%);
    background-position: 0 -150px;
}

footer {
    background-image: url(../img/encontros-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#inicio .fundo, footer .fundo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(15, 12, 41, 0.1), rgba(48, 43, 99, 0.4), rgba(36, 36, 62, 0.6) 80%);
    z-index: 1;
}

#nome {
    padding: 80px 0;
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
}

#nome h1 {
/*
    font-family: saira extra condensed;
    font-size: 5em;
    margin-bottom: 30px;
    color: white;
*/
    font-family: titulo;
    font-size: 8em;
    margin-bottom: 20px;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
}

section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 30px;
    z-index: 1
}

section h3 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 20px auto 50px;
    z-index: 1
}

section h2 span {
    background: white;
    padding: 0 20px;
}

section h2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.2);
    left: 0;
    margin: auto;
    right: 0;
    top: 50%;
    z-index: -1;
}

#encontro {
    padding: 40px 0 0;
    min-height: 54.2vh;
}

#encontro > div#imagem {
    width: 1000px;
    position: relative;
    height: 40vh;
/*    clip-path: polygon(0 6%, 50% 3%, 100% 0%, 100% 94%, 50% 97%, 0 100%);*/
/*    background: url(../img/encontros-1.jpg);*/
    background-attachment: fixed;
    background-size: cover;
    margin: 40px auto;
    border-radius: 5px;
    overflow: hidden;
}

#encontro div#imagem span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
/*    background: rgba(15, 12, 41, 0.4);*/
/*    clip-path: polygon(0 0, 50% 3%, 100% 0, 100% 100%, 50% 97%, 0 100%);*/
}

#encontro #imagem img {
    width: 100%;
/*    clip-path:  polygon(0 0, 50% 3%, 100% 0, 100% 100%, 50% 97%, 0 100%);*/
/*    display: block;*/
    display: none;
    opacity: 0;
}

#encontro div#imagem h1 {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 2.5em;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

#encontro div#imagem .texto {
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 1.2em;
    color: #777;
/*    text-shadow: 2px 2px 1px rgba(0,0,0,.5);*/
    width: 50%;
/*    font-weight: bold;*/
}

#encontro div#imagem .texto p {
    margin-bottom: 30px;
}

#colunas {
    background: #2F2E34;
    padding: 40px 0;
/*    clip-path: polygon(0% 4%, 100% 0, 100% 100%, 0 100%);*/
}

#colunas h3 {
    color: #ddd;
}

#encontro #colunas > div {
    width: 1000px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-around;
}

#colunas .imagem {
    border-radius: 3px;
    width: 35%;
    overflow: hidden;
    position: relative;
    background: #365899;
}

#colunas .imagem .fundo {
    opacity: 0;
    width: 100%;
}

#colunas .imagem img:not(.fundo) {
    height: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .7;
    transition: .3s ease;
}

#colunas .imagem img:not(.fundo):hover {
    opacity: .95;
    height: 100%;
}

#info {
    padding: 60px 0 40px;
    width: 1000px;
    margin: auto;
}

#info ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 70px;
}

#info ul li {
    width: 30%;
    font-size: .9em;
    text-align: center;
    color: #555;
}

#info ul li div {
    width: 140px;
    height: 140px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

#info ul li div img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#info ul li h4 {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
    text-transform: uppercase
}

#etapas {
    background: #262626;
    color: white;
}

#etapas ol {
    counter-reset: my-badass-counter;
    list-style: none;
    text-align: left;
    margin: 30px auto 0;
    padding: 60px 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 1000px;
}

#etapas ol li {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

#etapas ol li:before {
    content: counter(my-badass-counter);
    counter-increment: my-badass-counter;
    margin-right: 10px;
    padding: 3px;
    width: 20px;
    height: 20px;
    background: #03a9f4;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .8em;
}

#etapas ol span {
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
    font-size: 1.2em;
    color: #eee;
    text-align: justify;
}