* {
    font-family: ubuntu;
}

#inicio, footer {
    background-image: url(../../img/back-cadastro2.jpg);
}

#nome h1 {
    font-size: 6em;
}

section > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 30px;
    z-index: 1
}

section > h2 span {
    background: #efefef;
    padding: 0 20px;
}

section > h2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.2);
    left: 0;
    margin: auto;
    right: 0;
    top: 50%;
    z-index: -1;
}

body {
    background: #efefef;
}

#encontros {
    padding: 40px 0;
    min-height: 54.2vh;
    position: relative;
    margin-top: 10px;
} 

#encontros > div, #gerenciar > div > div {
    overflow-y: auto;
    max-height: 500px;
    padding: 5px 0;
}

table {
    border-collapse: collapse;
    width: 96%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden;
    cursor: default;
    margin: auto;
}

table th {
    font-weight: normal;
}

table tr:first-child {
    display: none;
}

table tr {
    border-bottom: 2px solid rgba(0,0,0,.3);
}

table td {
    background: #fff;
    padding: 15px;
    font-family: encode;
    text-align: left;
    font-size: .9em;
    display: block;
    text-align: right;
}

table td:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

table td:before {
    content: attr(data-nome);
    float: left;
    font-weight: bold;
}

table tr:not([data-refer]) td:first-child {
    background: #5e5882;
    color: white;
}

table .ver img {
    width: 20px;
    padding: 3px;
    background: #5e5882;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s ease;
    margin-left: 4px;
}

table .ver img.gerar {
    background: #03a9f4;
}

table .ver img.no {
    cursor: no-drop;
    background: #bdbdbd;
}

table .ver img.marcado {
    background: #1688ce;
}

tr[data-refer] table td:first-child {
    background: #1688ce;
}

table tr[data-refer] {
    display: none;
}

#paginas {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#paginas ul {
    display: flex;
    list-style: none;
}

#paginas li {
    margin: 0 5px;
    cursor: pointer;
    transition: .3s ease;
    font-weight: bold;
    padding: 3px;
    border-radius: 2px;
}

#paginas li.selecionado {
    background: #5e5882;
    color: white;
}

#gerenciar table tr > *:last-child, #gerenciar table tr > *:nth-child(4) { 
/*    text-align: center;*/
}

table button.paga {
    background: #8bc34a;
    cursor: no-drop;
}

table button.pagar, table button.inscrever {
    background: #F44336;
}

#botao-novo {
    position: absolute;
    right: 15px;
    top: 0;
    z-index: 1;
}

#novo, #gerenciar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,.7);
    display: none;
    justify-content: center;
    align-items: center;
}

img.fechar {
    width: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

#gerenciar {
/*    display: flex;*/
}

#gerenciar > div > div {
    height: 35vh;
    margin-bottom: 10px;
}

#novo > div, #gerenciar > div {
    margin: 20px auto;
    background: #fcfcfc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    width: 96%;
    overflow: hidden;
    position: relative;
}

#novo h3, #gerenciar h3 {
    padding: 20px;
    border-bottom: 1px solid #eee;
    /* background: #CDDC39; */
    background: #FFD275;
    position: relative;
    text-transform: uppercase;
}

#gerenciar h3 {
    padding-right: 110px;
}

#novo form {
    max-height: 61vh;
    overflow: auto;
}

#novo form, #gerenciar form {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#gerenciar form {
    display: flex;
    justify-content: space-between;
    align-items: center;
/*    flex-wrap: nowrap;*/
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input.metade {
    width: 49%;
}

.input label {
    color: #aaa;
    font-size: .8em;
}

.input input {
    padding: 10px;
    border-radius: 2px;
    margin: 10px 0 20px;
    resize: none;
    transition: .3s ease;
    border: 1px solid #eee;
    opacity: .7;
    background: #eee;
}

.input input:focus {
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    opacity: 1;
    background: white;
}

.upload {
    display: flex;
}

.upload .nome {
    border: 1px solid #e9e9e9;
    padding: 10px;
    font-size: .8em;
    color: #999;
    border-radius: 3px 0 0 3px;
    width: 80%;
    border-right: 0;
    margin-bottom: 20px;
    font-family: encode;
    margin-top: 10px;
}

.upload label {
    display: flex;
    align-items: center;
    padding: 10px;
/*    background: #4a5960;*/
    background: #FFD275;
    border-radius: 0 3px 3px 0;
    margin-bottom: 20px;
    color: black;
    font-size: .8em;
    cursor: pointer;
    border-left: 2px solid rgba(0,0,0,.2);
    margin-top: 10px;
}

.upload label img {
    width: 20px;
    margin-right: 10px;
    filter: invert(1);
}

.upload input {
    display: none;
}

#novo button, #gerenciar form button {
    float: right;
}

#travar {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    display: inline-table;
}

#travar input {
    display: none;
}

#travar label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

#travar label div {
    width: 10px;
    margin-right: 8px;
    padding: 3px;
    background: rgba(0,0,0,.4);
    border-radius: 3px;
    opacity: .5;
    transition: .3s ease;
}

#travar input:checked + label div, #travar input:checked + label img {
    opacity: 1;
}

#travar label img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: .3s ease;
}

#travar label span {
    text-align: center;
    font-weight: bold;
}